--- yaml
layout: "main"
---
//- Codemirror CSS
link(href="code-mirror/codemirror.css", rel="stylesheet")
//- Codemirror JS
script(src="code-mirror/codemirror.js", type="text/javascript")
//- My JS
script(src="main.js", type="text/javascript")

div.row
    div.col-lg-8.col-lg-offset-2
        h3 A tool to help make bookmarklets
        br
        div#code
        br
        div.container
            div.row.bottom-gap
                div.col-lg-3
                    b Language
                div.col-lg-9
                    input#languageJavascript.gap(type="radio", name="language", checked="checked")
                    b.double-gap Javascript
                    input#languageCoffeescript.gap(type="radio", name="language")
                    b Coffeescript
            div.row.bottom-gap
                div.col-lg-3
                    b Include jQuery
                div.col-lg-2
                    input#includeJquery.gap(type="checkbox", value="option1")
                    b(style="display: inline;") Version
                div.col-lg-7
                    select#jqueryVersion.form-control(style="margin-left: 5px;")
                        option 1.10.2
                        option 1.9.1
                        option 2.0.3
            div.row.bottom-gap
                div.col-lg-3
                    b Minify
                div.col-lg-9
                    input#minify(type="checkbox", value="option1", checked="checked")
            div.row.bottom-gap
                div.col-lg-3
                    b Name
                div.col-lg-9
                    input#name.form-control(type="text", placeholder="Awesome Bookmarklet")
            div.row.bottom-gap
                div.col-lg-12
                    button#generate.btn.btn-success Generate
        div#outputContainer(style="display: none")
            hr
            a#output.gap(href="#") Nothing
            b <-- Drag this to your bookmarks
